<a href="https://colab.research.google.com/github/varnipriya/ECIL-Project/blob/main/assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
dataframe= pd.read_csv('/content/drive/MyDrive/train.csv')

In [ ]:
dataframe.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

B) Removing some of the units.

In [ ]:
dataframe['Mileage'] = dataframe['Mileage'].astype(str).str.extract(r'(\d+\.?\d*)').astype(float)
dataframe['Engine'] = dataframe['Engine'].astype(str).str.extract(r'(\d+\.?\d*)').astype(float)
dataframe['Power'] = dataframe['Power'].astype(str).str.extract(r'(\d+\.?\d*)').astype(float)
dataframe['New_Price'] = dataframe['New_Price'].astype(str).str.extract(r'(\d+\.?\d*)').astype(float)
dataframe.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.00,1199.0,88.70,5.0,8.61,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,NaN,3.50

In [ ]:
dataframe.isnull().sum()

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

A) Replacing missing values with median, mean and mode

In [ ]:
dataframe['Mileage'].fillna(dataframe['Mileage'].median(),inplace=True)
dataframe['Engine'].fillna(dataframe['Engine'].median(),inplace=True)
dataframe['Power'].fillna(dataframe['Power'].mean(),inplace=True)
dataframe['Seats'].fillna(dataframe['Seats'].mode()[0],inplace=True)

dataframe.drop('New_Price', axis=1, inplace=True)

<ipython-input-108-4502e5c75567>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataframe['Mileage'].fillna(dataframe['Mileage'].median(),inplace=True)
<ipython-input-108-4502e5c75567>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataframe['Engine'].fillna(dataframe['Engine'].median(),inplace=True)
<ipython-input-108-4502e5c75567>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataframe['Power'].fillna(dataframe['Power'].mean(),inplace=True)
<ipython-input-108-4502e5c75567>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataframe['Seats'].fillna(dataframe['Seats'].mode()[0],inplace=True)

In [ ]:
dataframe.isnull().sum()

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

In [ ]:
dataframe.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.00,1199.0,88.70,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,3.50

C) Changing the categorical variables into numerical one hot encoded value

In [ ]:
dataframe['Fuel_Type'].replace({'Diesel': 0, 'Petrol': 1, 'Electric': 2}, inplace=True)
dataframe['Transmission'].replace({'Manual': 0, 'Automatic': 1}, inplace=True)

<ipython-input-111-64325c5a50a2>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataframe['Fuel_Type'].replace({'Diesel': 0, 'Petrol': 1, 'Electric': 2}, inplace=True)
<ipython-input-111-64325c5a50a2>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dataframe['Fuel_Type'].replace({'Diesel': 0, 'Petrol': 1, 'Electric': 2}, inplace=True)
<ipython-input-111-64325c5a50a2>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataframe['Transmission'].replace({'Manual': 0, 'Automatic': 1}, inplace=True)
<ipython-input-111-64325c5a50a2>:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dataframe['Transmission'].replace({'Manual': 0, 'Automatic': 1}, inplace=True)

In [ ]:
dataframe.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,First,19.67,1582.0,126.20,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,1,0,First,13.00,1199.0,88.70,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,0,First,20.77,1248.0,88.76,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,Second,15.20,1968.0,140.80,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,First,23.08,1461.0,63.10,5.0,3.50

D) Creating one more feature

In [ ]:
from datetime import datetime
present = datetime.now().year
dataframe['Car_Age'] = present - dataframe['Year']
dataframe.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Car_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,First,19.67,1582.0,126.20,5.0,12.50,9
1,2,Honda Jazz V,Chennai,2011,46000,1,0,First,13.00,1199.0,88.70,5.0,4.50,13
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,0,First,20.77,1248.0,88.76,7.0,6.00,12
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,Second,15.20,1968.0,140.80,5.0,17.74,11
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,First,23.08,1461.0,63.10,5.0,3.50,11

E) Set of operations
1) SELECT

In [ ]:
selected_columns = dataframe[['Mileage', 'Engine']]
selected_columns.head()

   Mileage  Engine
0    19.67  1582.0
1    13.00  1199.0
2    20.77  1248.0
3    15.20  1968.0
4    23.08  1461.0

2) FILTER

In [ ]:
filter_data = dataframe[dataframe['Year'] > 2013]
filter_data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Car_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,First,19.67,1582.0,126.20,5.0,12.50,9
5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,0,1,First,11.36,2755.0,171.50,8.0,17.50,8
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,1,0,First,21.56,1462.0,103.25,5.0,9.95,6
10,12,Maruti Swift VDI BSIV,Jaipur,2015,64424,0,0,First,25.20,1248.0,74.00,5.0,5.60,9
11,13,Land Rover Range Rover 2.2L Pure,Delhi,2014,72000,0,1,First,12.70,2179.0,187.70,5.0,27.00,10

3) RENAME

In [ ]:
dataframe.rename(columns={'Location': 'Place_Manufactured', 'Power': 'Horsepower'}, inplace=True)
dataframe.head()

,Unnamed: 0,Name,Place_Manufactured,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Horsepower,Seats,Price,Car_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,First,19.67,1582.0,126.20,5.0,12.50,9
1,2,Honda Jazz V,Chennai,2011,46000,1,0,First,13.00,1199.0,88.70,5.0,4.50,13
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,0,First,20.77,1248.0,88.76,7.0,6.00,12
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,Second,15.20,1968.0,140.80,5.0,17.74,11
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,First,23.08,1461.0,63.10,5.0,3.50,11

4) MUTATE

In [ ]:
dataframe['Mileage_per_CC'] = dataframe['Mileage'] / dataframe['Engine']
dataframe.head()

,Unnamed: 0,Name,Place_Manufactured,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Horsepower,Seats,Price,Car_Age,Mileage_per_CC
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,First,19.67,1582.0,126.20,5.0,12.50,9,0.012434
1,2,Honda Jazz V,Chennai,2011,46000,1,0,First,13.00,1199.0,88.70,5.0,4.50,13,0.010842
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,0,First,20.77,1248.0,88.76,7.0,6.00,12,0.016643
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,Second,15.20,1968.0,140.80,5.0,17.74,11,0.007724
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,First,23.08,1461.0,63.10,5.0,3.50,11,0.015797

5) ARRANGE

In [ ]:
arranged_data = dataframe.sort_values(by='Price')
arranged_data.head()

,Unnamed: 0,Name,Place_Manufactured,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Horsepower,Seats,Price,Car_Age,Mileage_per_CC
1660,1713,Tata Nano Lx,Pune,2011,65000,1,0,Second,26.0,624.0,35.0,4.0,0.44,13,0.041667
2758,2847,Hyundai Getz GLS,Pune,2005,86000,1,0,Second,15.3,1341.0,83.0,5.0,0.45,19,0.011409
1577,1628,Maruti 800 Std BSIII,Jaipur,2004,12000,1,0,Second,16.1,796.0,37.0,4.0,0.45,20,0.020226
3039,3138,Maruti Zen LXI,Jaipur,1998,95150,1,0,Third,17.3,993.0,60.0,5.0,0.45,26,0.017422
3127,3228,Maruti 800 Std,Pune,2003,52000,1,0,First,16.1,796.0,37.0,4.0,0.50,21,0.020226